:host {
  .dashboard-footer {
    margin-top: 40px;
    padding: 12px;
    font-size: 12px;
    background: #2196f3;
    color: rgba(255, 255, 255, 0.87);
    .dashboard-footer-list {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      padding: 8px;
    }
    .logo {
      height: 50px;
    }
    .dashboard-footer-links {
      ul {
        list-style: none;
        margin: 0 40px;
        padding: 0;
        a {
          font-size: 16px;
          padding: 0;
          text-decoration: none;
          color: rgba(255, 255, 255, 0.87);
        }
      }
    }
    .dashboard-footer-copyright {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  }
}