:host {
  z-index: 10;
  nav {
    background-color: #2196F3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 16px;
    color: rgba(255, 255, 255, 0.87);
    img {
      width: 96px;
    }
    .active {
      box-shadow: 2px 4px 8px 2px #155e99;
    }
  }
  .flex-spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  #user-menu-btn {
    font-size: 22px;
  }
}

#user-box {
  padding: 1em;
  display: flex;
  align-items: center;
  div {
    flex-direction: column;
    h3,
    h4 {
      margin: 0;
    }
    h3 {
      font-size: 16px;
    }
    h4 {
      font-size: 12px;
    }
  }
  img {
    margin-right: .8em;
  }
}