:host {
  z-index: 10;
  nav {
    background-color: #2196F3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 16px;
    color: rgba(255, 255, 255, 0.87);
    img {
      width: 96px;
    }
    .active {
      box-shadow: 2px 4px 8px 2px #155e99;
    }
  }
  .flex-spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  #user-menu-btn {
    font-size: 22px;
  }
}

#user-box {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-bottom: 1em;
  }
}