<nav>
  <button mat-icon-button (click)="onMenuIconClick.next()" angulartics2On="click" angularticsEvent="ToggleSideMenu">
    <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
  </button>
  <a class="nav-button" mat-button routerLink>FUSEBOX-ANGULAR-UNIVERSAL-STARTER</a>
  <div class="flex-spacer"></div>
  <a class="nav-button" mat-button *ngFor="let item of navbarService.menu$ | async" [routerLink]="item.route" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    {{ item.name }}
  </a>
  <a class="nav-button" mat-button href="/api-docs">API</a>
</nav>
