:host {
  .footer {
    text-align: right;
    padding: .75em;
  }
   ::ng-deep mat-tab-group {
    flex: 1;
    height: 100%;
    .mat-tab-body-wrapper {
      height: 100%;
    }
    mat-tab-body {
      .mat-tab-body-content {
        overflow: overlay;
      } // overflow-y: overlay;
      // .mat-tab-body-content {
      //   overflow-y: overlay;
      // }
    }
  }
  .settings {
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: 100%;
    overflow-y: auto;
  }
   ::ng-deep dynamic-html {
    display: -webkit-inline-box;
    overflow-y: auto;
    height: 100%;
  }
   ::ng-deep mat-form-field {
    padding-bottom: 1em;
  }
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  .field-spacer {
    display: flex;
    flex: 1;
    mat-form-field {
      width: 100%;
      margin-right: 1em;
    }
    @media only screen and (max-width: 959px) {
      flex-direction: column;
    }
  }
   ::ng-deep mat-chip {
    mat-icon {
      height: auto;
      width: auto;
      margin-left: 8px;
      padding-bottom: 4px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .pad-tab {
    padding: 0 1em;
  }
  .inj-list {
    mat-list-item {
      margin: 1em 0;
    }
    mat-card {
      width: 100%;
      padding: 1em;
    }
  }
  .card-list {
    margin-bottom: 1em;   
    display: flex;
    align-items: center;
    mat-card {
      width: 100%;
      display: inherit;
    }
  }
}