:host {
  .footer {
    text-align: right;
    padding: .75em;
  }
   ::ng-deep mat-tab-group {
    flex: 1;
    height: 100%;
    .mat-tab-body-wrapper {
      height: 100%;
    }
    mat-tab-body {
      .mat-tab-body-content {
        overflow: hidden;
      }
    }
  }
  .settings {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  ::ng-deep dynamic-html {
    display: flex;
    height: 100%;
  }
}