<mat-sidenav-container class="dashboard-container">
  <mat-sidenav #sidenav class="dashboard-sidenav" mode="side" opened="true">
    <nav class="nav-back-button">
      <button mat-button="" (click)="toggleSidenav(true)">
                <span>
                    <mat-icon role="img" aria-hidden="true">
                            arrow_back
                    </mat-icon>
                </span>
            </button>
    </nav>
    <nav *ngFor="let menu of dashboardMenu; index as i;">
      <h3>{{menu.heading}}</h3>
      <ul>
        <li *ngFor="let child of menu.children; index as y;">
          <a mat-button [routerLink]="[child.path]" routerLinkActive="dashboard-sidenav-item-selected" (click)="setPageTitle(child.title)">
                        {{child.title}}
                    </a>
        </li>
      </ul>
    </nav>
    <nav>
      <h3>Forms Control</h3>
      <ul>
        <li>
          <a routerlinkactive="dashboard-sidenav-item-selected">
                        Autocomplete
                    </a>
        </li>
      </ul>
    </nav>
    <nav>
      <h3>Forms Control</h3>
      <ul>
        <li>
          <a routerlinkactive="dashboard-sidenav-item-selected">
                        Autocomplete
                    </a>
        </li>
      </ul>
    </nav>
  </mat-sidenav>
  <div class="dashboard-sidenav-content">
    <pm-dashboard-page-header (toggleSidenav)="toggleSidenav(event)" [title]="pageTitle"></pm-dashboard-page-header>
    <router-outlet></router-outlet>
    <pm-dashboard-page-footer></pm-dashboard-page-footer>
  </div>
</mat-sidenav-container>