$fa-font-path: '/assets/fonts/font-awesome';
@import '../../../node_modules/font-awesome/scss/font-awesome';
@import './node_modules/@angular/material/_theming.scss';
@import './node_modules/quill/dist/quill.snow';
@include mat-core();
$primary: mat-palette($mat-blue, 700);
$accent: mat-palette($mat-pink);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
.dark-theme {
  $dark-p: mat-palette($mat-pink, 700);
  $dark-a: mat-palette($mat-blue-grey);
  $dark-t: mat-dark-theme($dark-p, $dark-a);
  @include angular-material-theme($dark-t);
}

html {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

html,
body {
  margin: 0;
  display: flex;
  flex: 1 0;
  flex-direction: column;
  height: 100%;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}

.card-float-container {
  display: flex;
  justify-content: center;
  margin: 1em;
  @media only screen and (max-width: 959px) {
    display: block;
    margin: 0;
  }
}

// TODO remove in future
.mat-card-header-text {
  width: 100%;
}

// TODO remove in future
.mat-form-field.mat-form-field {
  width: auto;
}

.mat-raised-button .mat-button-wrapper>* {
  vertical-align: inherit !important;
}

.mat-menu-content {
  padding: 0 !important;
}

.vert-flex-fill {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.ql-toolbar.ql-snow {
  border: none !important;
}

.ql-container.ql-snow {
  border: none;
}