<form [formGroup]="form" novalidate>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
    <!-- <mat-error *ngIf="emailFormControl.hasError('pattern')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is
      <strong>required</strong>
    </mat-error> -->
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" type="password" formControlName="password">
    <!-- <mat-error *ngIf="emailFormControl.hasError('pattern')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is
      <strong>required</strong>
    </mat-error> -->
  </mat-form-field>
  <button mat-raised-button>
    <mat-icon fontSet="fa" fontIcon="fa-envelope-o"></mat-icon>
    <span>Sign in with Email</span>
  </button>
</form>