<div *ngIf="view$ | async as view">
  <div class="flex">
    <h1>Pages</h1>
    <button mat-fab color="accent" (click)="openDialog()">
      <mat-icon fontSet="fa" fontIcon="fa-plus" aria-label="create a page"></mat-icon>
    </button>
  </div>
  <mat-tab-group [selectedIndex]="view.currentTab" (selectedIndexChange)="updateTabParam($event)">
    <mat-tab *ngFor="let keyVal of view.pages | pmKeyVal" [label]="keyVal.key">
      <ul>
        <li *ngFor="let slug of keyVal.value | pmKeys">
          <a [routerLink]="'/' + keyVal.key + '/' + slug">{{ slug }}</a>
          <a [routerLink]="'/' + keyVal.key + '/' + slug" [queryParams]="{ 'edit': true }">edit</a>
          <span>delete</span>
        </li>
      </ul>

      <!-- <mat-table #table [dataSource]="ds(keyVal.key)">
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef>Slug</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ keyVal.key }}</mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table> -->
      <router-outlet></router-outlet>
    </mat-tab>
  </mat-tab-group>
</div>