<div>
  <button mat-raised-button (click)="login('facebook')" class="facebook">
    <mat-icon fontSet="fa" fontIcon="fa-facebook-official"></mat-icon>
    <span>Sign in with Facebook</span>
  </button>
  <button mat-raised-button (click)="login('google')" class="google">
    <mat-icon fontSet="fa" fontIcon="fa-google"></mat-icon>
    <span>Sign in with Google</span>
  </button>
  <button mat-raised-button (click)="login('github')" class="github">
    <mat-icon fontSet="fa" fontIcon="fa-github"></mat-icon>
    <span>Sign in with Github</span>
  </button>
  <button mat-raised-button (click)="login('twitter')" class="twitter">
    <mat-icon fontSet="fa" fontIcon="fa-twitter"></mat-icon>
    <span>Sign in with Twitter</span>
  </button>
  <p>or</p>
  <button mat-raised-button (click)="login('email')">
    <mat-icon fontSet="fa" fontIcon="fa-envelope-o"></mat-icon>
    <span>Sign in with Email</span>
  </button>
</div>