<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion class="headers-align" *ngIf="!isLoading">
  <mat-expansion-panel hideToggle="true" expanded="true">
    <mat-error id="socialNetworkErr" *ngIf="socialNetworkErr">
      <p>{{ socialNetworkErrEmail }}</p>
      <p>{{ socialNetworkErr }}</p>
    </mat-error>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sign in with social network
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-raised-button (click)="login('facebook')" pmSocialButton="facebook">
      <div class="social-spacer">
        <mat-icon fontSet="fa" fontIcon="fa-facebook-official"></mat-icon>
        <span>Sign in with Facebook</span>
      </div>
    </button>
    <button mat-raised-button (click)="login('google')" pmSocialButton="google">
      <div class="social-spacer">
        <mat-icon fontSet="fa" fontIcon="fa-google"></mat-icon>
        <span>Sign in with Google</span>
      </div>
    </button>
    <button mat-raised-button (click)="login('github')" pmSocialButton="github">
      <div class="social-spacer">
        <mat-icon fontSet="fa" fontIcon="fa-github"></mat-icon>
        <span>Sign in with Github</span>
      </div>
    </button>
    <button mat-raised-button (click)="login('twitter')" pmSocialButton="twitter">
      <div class="social-spacer">
        <mat-icon fontSet="fa" fontIcon="fa-twitter"></mat-icon>
        <span>Sign in with Twitter</span>
      </div>
    </button>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sign in with email
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="form" id="emailForm" novalidate>
      <mat-error *ngIf="form.hasError('network')">
        {{ form.getError('network') }}
      </mat-error>
      <br *ngIf="form.hasError('network')">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="form.controls.email.hasError('pattern')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('required')">
          Email is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password">
        <mat-error *ngIf="form.controls.password.hasError('required')">
          Password is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <mat-action-row>
      <button mat-button color="accent" (click)="login('email_new')" [disabled]="!form.valid">Signup</button>
      <button type="submit" form="emailForm" mat-raised-button color="primary" (click)="login('email_login')" [disabled]="!form.valid">Sign In</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>