<div>
  <button mat-raised-button (click)="login('facebook')" class="facebook">
    <mat-icon fontSet="fa" fontIcon="fa-facebook-official"></mat-icon>
    <span>Sign in with Facebook</span>
  </button>
  <button mat-raised-button (click)="login('google')" class="google">
    <mat-icon fontSet="fa" fontIcon="fa-google"></mat-icon>
    <span>Sign in with Google</span>
  </button>
  <button mat-raised-button (click)="login('github')" class="github">
    <mat-icon fontSet="fa" fontIcon="fa-github"></mat-icon>
    <span>Sign in with Github</span>
  </button>
  <button mat-raised-button (click)="login('twitter')" class="twitter">
    <mat-icon fontSet="fa" fontIcon="fa-twitter"></mat-icon>
    <span>Sign in with Twitter</span>
  </button>
  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sign in with email
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="form" novalidate>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <!-- <mat-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is
            <strong>required</strong>
          </mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password">
        <!-- <mat-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is
            <strong>required</strong>
          </mat-error> -->
      </mat-form-field>
    </form>
    <mat-action-row>
      <button mat-button color="accent" (click)="login('email_new')">New Account</button>
      <button mat-button color="primary" (click)="login('email_login')">Sign In</button>
    </mat-action-row>
  </mat-expansion-panel>
</div>