<div fxFlexFill fxLayout="column">
  <mat-nav-list fxFlex>
    <mat-list-item>
      <h4 mat-line>test</h4>
      <p mat-line> test2 </p>
    </mat-list-item>
    <mat-list-item>
      <h4 mat-line>test</h4>
      <p mat-line> test2 </p>
    </mat-list-item>
    <mat-list-item>
      <h4 mat-line>test</h4>
      <p mat-line> test2 </p>
    </mat-list-item>
    <mat-list-item>
      <h4 mat-line>test</h4>
      <p mat-line> test2 </p>
    </mat-list-item>
    <mat-list-item>
      <h4 mat-line>test</h4>
      <p mat-line> test2 </p>
    </mat-list-item>
  </mat-nav-list>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>