<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">Welcome to a blazing fast Angular Universal development experience</p>
  <hr class="my-4">
  <h2>Features</h2>
  <ul>
    <li>FuseBox bundling</li>
    <li>Production and development builds</li>
    <li>Fast Angular testing with Jest</li>
    <li>Manage your type definitions using @types</li>
    <li>Simple Heroku Deployment</li>
    <li>Coming Soon: Hot Module Reloading (client only dev mode)</li>
    <li>Coming Soon: Support for Angular Mobile Toolkit (Service Worker)</li>
    <li>Coming Soon: Ahead-of-Time (AOT) compilation support</li>
    <li>Coming Soon: Tree-Shaking builds with Rollup</li>
    <li>Coming Soon: HttpStateTransfer for caching server responses on client boostrap</li>
  </ul>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://github.com/patrickmichalina/fusebox-angular-universal-starter" role="button">View Github Repo</a>
  </p>
</div>