<div class="jumbotron">
  <h1 class="display-3">Hello, Angular Developer!</h1>
  <p class="lead">Welcome to a blazing fast Angular Universal development starter</p>
  <hr class="my-4">
  <h2>Features</h2>
  <ul>
    <li>FuseBox bundling (faster than <a href="https://webpack.github.io/" target="_blank">Webpack</a> and <a href="http://jspm.io/" target="_blank">JSPM</a>)</li>
    <li>Fully typed build tools and application using <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a></li>
    <li>Production and development builds</li>
    <li>Angular testing with <a href="https://facebook.github.io/jest" target="_blank">Jest</a> (faster than Karma)</li>
    <li>Manage your type definitions using @types (easier than using <a href="https://github.com/typings/typings">typings</a>)</li>
    <li>Simple <a href="https://heroku.com" target="_blank">Heroku</a> deployment</li>
    <li><strong>Coming Soon</strong>: Cookies Support</li>
    <li><strong>Coming Soon</strong>: Auth Service + Auth Interface</li>
    <li><strong>Coming Soon</strong>: HttpStateTransfer for caching server responses on client boostrap</li>
    <li><strong>Coming Soon</strong>: Hot Module Reloading (client only dev mode)</li>
    <li><strong>Coming Soon</strong>: Support for <a href="https://mobile.angular.io" target="_blank">Angular Mobile Toolkit</a> (Service Worker)</li>
    <li><strong>Coming Soon</strong>: <a href="https://angular.io/guide/aot-compiler" target="_blank">Ahead-of-Time (AOT) compilation</a> support</li>
    <li><strong>Coming Soon</strong>: <a href="https://angular.io/guide/aot-compiler#tree-shaking-1" target="_blank">Tree-Shaking</a> builds</li>
  </ul>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://github.com/patrickmichalina/fusebox-angular-universal-starter" role="button">View Github Repo</a>
  </p>
</div>