:host {
  display: block;
  height: 140px;
  div {
    display: flex;
    .email {
      font-size: 12px;
      flex: 1;
    }
  }
  .avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
  }
  button {
    // width: 100%
  }
}