<h2>New Page</h2>
<form [formGroup]="form" id="pageForm" novalidate>
  <mat-form-field>
    <input matInput placeholder="Slug" formControlName="slug">
    <mat-error *ngIf="form.controls.slug.hasError('pattern')">
      must contain a forward slash and name
    </mat-error>
    <mat-error *ngIf="form.controls.slug.hasError('slugTaken')">
      slug already taken
    </mat-error>
    <mat-error *ngIf="form.controls.slug.hasError('required')">
      <span>slug is
        <strong>required</strong>
      </span>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title">
    <mat-error *ngIf="form.controls.title.hasError('required')">
      <span>title is
        <strong>required</strong>
      </span>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Description" formControlName="description">
    <mat-error *ngIf="form.controls.description.hasError('required')">
      <span>description is
        <strong>required</strong>
      </span>
    </mat-error>
  </mat-form-field>
  <mat-slide-toggle formControlName="isDraft">
    Draft (not visible to public)
  </mat-slide-toggle>
  <br>
  <button mat-raised-button color="primary" type="text" [disabled]="form.invalid" (click)="create()">Create</button>
</form>