<mat-card *ngIf="user$ | async as user">
  <mat-card-header>
    <mat-card-title>Account</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img [src]="user.picture" class="avatar">
    <mat-form-field>
      <input matInput placeholder="Name" [value]="user.name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Display Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" [value]="user.email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone" [value]="user.phone">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Identity Source" [value]="user.claims.firebase.sign_in_provider" disabled>
    </mat-form-field>
  </mat-card-content>
  <button mat-button>Update</button>
</mat-card>