:host {
  mat-card-content {
    display: flex;
    flex-direction: column;
  }
  mat-card {
    min-width: 300px;
  }
  #update-btn {
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
}