<mat-card *ngIf="user$ | async as user">
  <mat-card-content>
    <img *ngIf="user.photoURL" [src]="user.photoURL" class="avatar">
    <mat-form-field>
      <input matInput placeholder="Name" [value]="user.displayName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" [value]="user.email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone" [value]="user.phoneNumber">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="New Password" type="password" [value]="user.newPassword">
    </mat-form-field>
  </mat-card-content>
  <button mat-button>Update</button>
</mat-card>